[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-redis = "*"
python-decouple = "*"
django-heroku = "*"
dj-database-url = "*"
flake8 = "*"
coveralls = "*"
pillow = "*"
werkzeug = "*"
djangorestframework = "==3.8"
django-filter = "*"
pyjwt = "*"
celery = "*"
django-rest-swagger = "*"
pyyaml = "*"
cloudinary = "*"
tox-pipenv = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
